/* Standard for all elements !*/
:root
{
    scroll-behavior: smooth;
}

*
{
    margin: 0px;
    padding: 0px;
    position: relative;
    box-sizing: border-box;
}

*::after,*::before
{
    content: "";
    display: inline-block;

}

/* Standard for body & html elements*/
html,body
{
    width: 100%;
    
}

body
{
    height: auto;
}
/* Standard for ul element*/
ul
{
    list-style: none;
    list-style-position: inside;
}

/* Standard for a elament */
a
{
    text-decoration: none;
    color:inherit;
}

/* Standard for input element !*/
input,textarea
{
    outline: none;
    display: block;
    border: none;
}

/* main part style */
main
{
    width: 100%;
    height: 100%;
    margin: auto;
    
}

/* header part style */
.fixed-bar
{
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0px;
    margin: auto;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%);
}

header
{
    height: 80px !important;
    background: black;
    z-index: 1;
}

header::before
{
    content: "</>";
    display: block;
    width: 230px;
    height: 100%;
    background-color: #ffc107;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    color: red;
}

header::after
{
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
    left: 229px;
    border: 40px #ffc107 solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

nav
{
    display: inline-block;
    position: absolute;
    top:0px;
    left: 330px;
    color: white;
    width: 80%;
}

nav ul
{
    display: flex;
    justify-content: space-between;
    width: 85%;
}
ul li
{
    
    font-family: monospace;
    width: 14%;
    height: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #2b68e21c;
    cursor: pointer;
    font-size: 1.4vw;
}

ul li:hover
{
    background-color: transparent;
    
}
ul li a:hover
{
    color: orange;
}
/* section Me part style */
#welcome-section
{
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(19,19,91,1) 39%, rgba(2,0,36,1) 63%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-section .container
{
    position: relative;
    left: -218px;
}

#welcome-section h1
{
    font-size: 11vw;
    color: white;
}

#welcome-section p
{
    font-size: 6vw;
    color: orange;
}

#welcome-section p::after
{
    animation-name: write-name;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.94, -0.4, 0, 1.59);
    width: 637px;
    left: 50%;
    font-size: 4vw;
    color: orangered;
    position: absolute;
    top: 50%;
    transform: translate(8%,-34%);
}



#welcome-section span
{
    font-size: 20px;
    color: orange;
}

/* section skills part style */
#skills
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(33,9,175,0.9976365546218487) 22%, rgba(56,0,112,1) 86%);
}

#skills i
{
    font-size: 74px;
}

#skills .container
{
    display: grid;
    width: 50%;
    grid-template-columns: 100%;
    padding: 10px;
}

#skills .tech-links
{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 50%;
    transform: translate(0,-50%);
    left: 10px;
    height: 81%;
    align-items: center;
    color: #ff10e82e;
}



#skills .skills div
{
    margin-bottom: 25px;
}

.html::after,.css::after,.js::after,.bootstrap::after,.scss::after,.react::after
{
    width: 80%;
    height: 35px;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 125px;
    background: linear-gradient(135deg, #ff5722 35%, rgb(255 255 255) 35%);
    content: "35%";
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.html
{
    color: orangered;
}



.css
{
    color: #006cb4;
}

.js
{
    color: #efd81d;
}
.js::after
{
    background: linear-gradient(135deg, #ff5722 20%, rgb(255 255 255) 20%);
    content: "20%";
}

.bootstrap
{
    color: #8511f0;
}

.bootstrap::after,.scss::after,.react::after
{
    background: linear-gradient(135deg, #ff5722 10%, rgb(255 255 255) 10%);
    content: "10%";
}

.scss
{
    color: #eff2f2;
}

.react
{
    color: #46caf2;
}

.fa-github:hover
{
 color: #ff9800;
}

.fa-linkedin:hover
{
    color: #0961b8;
}

.fa-stack-overflow:hover
{
    color: rgb(242 141 13);
}

/* projects section  part*/
#projects
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#projects .container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24%,1fr));
    width: 1000px;
    gap: 45px;
    position: relative;
    top: 28px;
}

#projects .container .project-tile
{
    width: 100%;
}

#projects .container::before, #projects .container::after 
{
    position: absolute;
}
#projects .container .project-tile img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 3px orangered solid;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
}


img + p
{
    color: orange;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 6px;
    background: #423838;
    
}

#projects .container .project-tile:hover
{
    animation-name: touch;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    z-index: 1;
    cursor: pointer;
}

/* footer part style */
footer
{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.9976365546218487) 53%, rgba(13,8,8,1) 97%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    color: white;
}

form
{
    width: 58%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 175px;
}

input
{
    width: 70%;
    padding: 10px;
    font-size: 19px;
    background-color: #ba90e2;
    color: white;
}

label
{
    padding-top: 15px;
    width: 71%;
    padding-bottom: 5px;
}

textarea
{
    width: 70%;
    display: block;
    padding: 10px;
    font-size: 19px;
    margin-bottom: 20px;
    background-color: #ba90e2;
    color: white;
    outline: none;
}

input[type="submit"]
{
    width: 40%;
    background-color: #2e0554;
}


hr
{
    width: 93%;
    top: 173px;
    position: relative;
}

footer p
{
    position: relative;
    top: 51px;
    left: -485px;
    display: inline-block;
}
footer span
{
    display: none;
}
/* Key frames */
@keyframes write-name {
    0%
    {
        content:"|";
    }
    4%
    {
        content: "A|";
    }
    8%
    {
        content: "Ah|"
    }
    12%
    {
        content: "Ahm|";
    }
    16%
    {
        content: "Ahme|";
    }
    20%
    {
        content: "Ahmed|";
    }
    24%
    {
        content: "Ahmed |"
    }
    28%
    {
        content: "Ahmed E|"
    }
    32%
    {
        content: "Ahmed EL|";
    }
    36%
    {
        content: "Ahmed EL-|"
    }
    40%
    {
        content: "Ahmed EL-3|"
    }
    44%
    {
        content: "Ahmed EL-3a|"
    }
    48%
    {
        content: "Ahmed EL-3ad|"
    }
    52%
    {
        content: "Ahmed EL-3adl|";
    }
    56%
    {
        content: "Ahmed EL-3ad|"
    }
    60%
    {
        content: "Ahmed EL-3a|"
    }
    64%
    {
        content: "Ahmed EL-3|"
    }
    68%
    {
        content: "Ahmed EL-|"
    }
    72%
    {
        content: "Ahmed EL|";
    }
    76%
    {
        content: "Ahmed E|"
    }
    80%
    {
        content: "Ahmed |"
    }
    84%
    {
        content: "Ahmed|";
    }
    88%
    {
        content: "Ahme|";
    }
    92%
    {
        content: "Ahm|";
    }
    96%
    {
        content: "Ah|"
    }
    100%
    {
        content: "A|";
    }
}

@keyframes touch 
{
    100%
    {
        transform: scale(1.2);
    }
}

/* Media queries */
@media (max-width:1230px) 
{
    /* nav style */
        ul li
        {
            font-size: 1.7vw;
        }

    /* welcome style */
        #welcome-section h1 {
            font-size: 18vw;
        }

        #welcome-section p {
            font-size: 10vw;
        }
        
        #welcome-section p::after 
        {
            top: 52%;
            font-size: 6vw;
        }

    /* skills part style */
        #skills .container 
        {
            width: 80%;
        }
        .html::after, .css::after, .js::after, .bootstrap::after, .scss::after, .react::after 
        {
            width: 80%;
        }
    /* project part style */
    #projects .container
    {
        grid-template-columns: repeat(2, minmax(22%,1fr));
        width: 470px;
    }

    /* footer part style */
        form 
        {
            width: 86%;
        }

        footer p 
        {
            left: -292px;
        }

}

@media (max-width:900px) 
{
    /* nav style */
        header::after,header::before
        {
            content: none;
        }

        header
        {
            display:flex;
            justify-content: center;
        }

        nav 
        {
            left: 50%;
            transform: translate(-50%,0px);
        }
        ul li
        {
            font-size: 2.7vw;
            width: 37%;
        }

    /* welcome style */
        #welcome-section .container 
        {
            left: -98px;
        }
        
        #welcome-section p::after 
        {
            left: 44%;
        }

    /* skills part style */
        #skills .container 
        {
            width:75%;
        }
    /* projects part style */
        #projects .container .project-tile:hover 
        {
            animation-name: none;
        }
    /* footer part style */
        form 
        {
            width: 100%;
        }

        footer p 
        {
            left: -197px;
        }

}

@media (max-width:660px) 
{
    #skills .tech-links 
    {
        display: none;
    }

    #skills .container {
        width: 97%;
    }

    form label,form input,form textarea
    {
        width: 90%;
    }

    input[type="submit"]
    {
        width: 60%;
    }

    footer p
    {
        left: 0px;
    }
    footer span
    {
        display: inline;
    }
}